.img-btn {
  z-index: 1;
  user-select: none;
  content: "\f054";
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.493);
  color: rgb(255, 255, 255);
  font-size: 30px;
  border-radius: 80px;
  position: relative;
  float: right;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.Hero-image {
  cursor: pointer;
  width: 1400px;
  height: auto;
  box-shadow: 2px 12px 10px rgba(0, 0, 0, 0.445);
}

/* .container::after{
    display: flex;
    margin-right:40px ;
    content: '>';
    color: white;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.336);
} */

.art-head{
    z-index: 1;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    width:1360px;
    height: 150px;
    padding-top: 10px;
    padding: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-top: 1px solid rgba(255, 255, 255, 0.521);
    color: rgb(255, 255, 255);
}
.art-head p{
  -webkit-line-clamp: 4;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.img-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.486);
}

.img-btn:active{
  background-color: rgba(90, 90, 90, 0.308);
}

.container {
    
  width: auto;
  height: auto;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  animation: load 0.8s ease-in-out 1;
}

@keyframes load{
    0%{
        opacity: 0%;
        transform: translateY(20px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}

.main-cont {
  position: relative;
  width: auto;
  height: auto;
}

p::first-letter{
    font-size: 20px;
    font-weight: bold;
}
h2{
    margin: 0px;
    font-size: 40px;
}

.disable{
  opacity: 0%;
}

@media (max-width:1284px){

  .Hero-image {
    width: 900px;
    height: auto;
    font-size: 12px;
  }
  
  P::first-letter{
    font-size: 20px;
  }
  

  .art-head{
    width: 860px;
    height: 150px;
  }

}

@media(max-width:768px){
  .Hero-image{
    width: 600px;
  }

  .art-head{
    width: 560px;
    height: 80px;
    font-size: 10px;
    padding-top: 5px;
  }

  P::first-letter{
    font-size: 12px;
  }

  h2{
    font-size: 20px;
  }
}

@media(max-width:375px){
  .Hero-image{
    width: 320px;
  }

  .img-btn{
    width: 25px;
    height: 25px;
    font-size: 15px;
  }


  .art-head{
    display:none;
  }

  .art-head p{
    margin-top: 4px;
  }

  P::first-letter{
    font-size: 10px;
  }

  h2{
    font-size: 14px;
  }
}