.form-control{
    background: none;
    outline: none;
    border:none;
    border-bottom:1px solid rgb(255, 255, 255);
    margin-bottom: 60px;
    width: 100%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.7s ease-in-out;
    padding-bottom: 20px;
    color: rgb(219, 219, 219);
}

.backdrop{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(8px);
    top:0
}

app-load{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    position:fixed;
   vertical-align: middle;
}

.loading{
    display: none;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.load{
   display: block;
    opacity: 1;
}


form h1{
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

form h1::after{
    content: "";
    display: block;
    width:40%;
    height: 2px;
    background-color: crimson;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom:15px;
}

.form-control:focus{
    border-color: crimson
}

.error{
    color:red;
}
.btn:disabled{
    background: rgb(14, 101, 172) !important;
    color: rgb(170, 170, 170);
    cursor:not-allowed;
}



.btn{
    cursor: pointer;
    background: rgb(20, 130, 220);
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: rgb(212, 212, 212);
    margin-bottom: 60px;
}

.reset{
    background: rgb(220, 20, 47);
    margin-left: 40px;
}

.reset:hover{
    background: rgb(160, 15, 34) !important;
}

.pickimage{
    width: 100%;
    background: rgb(114, 114, 114);
}

.pickimage:hover{
    background: rgb(61, 61, 61) !important;
}

form{
    justify-content: center;
    align-items: center;
    padding:80px;
}

.form-text{
    padding: 20px;
    font-size: 16px;
    resize: none;
    border: 1px solid white;
    width: 93%;
}

.form-row{
    width: 41%;
    animation: onload 1s ease-in-out 1;
}
@keyframes onload {
    0%{
        transform: translateY(80px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

input:-webkit-autofill{
    -webkit-text-fill-color: rgb(224, 224, 224);
    transition: background-color 5000s ease-in-out 0s;
}

.form-container{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#image{
    visibility: hidden;
}

.btn:hover{
    background: rgb(18, 103, 173);
}



.btn:active{
    background: rgb(11, 73, 124);
}

.btn-container{
    width: 100%;
    justify-content: center;
    text-align: center;
}

@media only screen and (width:360px){
    form h1{
        font-size: 35px;
    }

    form h1::after{
        content: "";
        display: block;
        width:40%;
        height: 2px;
        background-color: crimson;
        margin: 0px auto;
        margin-top: 10px;
        margin-bottom:15px;
    }

    .form-control{
        font-size: 16px;
        margin-bottom: 30px;
    }

    .btn{
        margin-bottom: 30px;
    }

    .form-row{
        width:100%;
    }

    

    form{
        padding: 20px;
    }
}

@media screen and (max-width:1400px) {
    form img{
        width: 400px !important;
    }
}