<div class="loading" [ngClass]="isload?'load':'none'">
<div class="backdrop"></div>
<app-load></app-load>
</div>
<div class="form-container">
    <div class="form-row">
        
    <form [formGroup]="ArticleForm" (ngSubmit)="onSubmit(ArticleForm)">
        <h1>Add new article</h1>
        <p class="error" *ngIf="!ArticleForm.get('title').valid && ArticleForm.get('title').touched" >Please enter title*</p>
        <input type="text" 
        name="title" 
        id="title" 
        class="form-control" 
        placeholder="Enter title here*"
        formControlName="title"
        #title required>
        
        <img [src]="imageval" alt="" style="width:600px"><br>

        <button class="btn pickimage" (click)="imagepick.click()" type=button>Pick image</button>
        
        <input type="file" name="image" id="image" #imagepick (change)="filepick($event)"><br>
        <p class="error" *ngIf="!ArticleForm.get('desc').valid && ArticleForm.get('desc').touched">Please enter Article*</p>
        <textarea name="desc" id="desc" cols="30" rows="10" 
        class="form-control form-text" placeholder="Enter article here*" formControlName="desc"
        #desc required></textarea><br>
        <div class="btn-container">
        <button class="btn" type="submit" [disabled]="!ArticleForm.valid">Submit</button>
        <button class="btn reset" type="button" (click)="reset()">Clear</button>
        </div>
    </form>
</div>
</div>