

<div class="hero-head">
    <div class="hero-image">
        <img src="assets/undraw_body_text_l3ld.svg" alt="hero"/>
    </div>
    <div class="hero-content">
        <h3>This is Article headline</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, voluptates tempore doloribus laudantium architecto dolore natus modi eum earum fugiat ad explicabo est ab esse vel excepturi dolorem sit nihil.
        Voluptatibus iusto tenetur laborum provident eos pariatur nihil eveniet dignissimos. Expedita quaerat at minima libero tenetur, et reprehenderit molestias nam? Blanditiis magnam voluptatibus aspernatur assumenda itaque unde alias fugiat molestiae.
        </p>
        <button class="btn" (click)="explore()">Explore</button>
    </div>
</div>

<div class="head-recent">
    <p>Recent Articles</p>
</div>


<app-hero></app-hero>
<br>
<app-feed></app-feed>